.header{
    background-image: url(../../_Image/koltuk.jpg);
    min-height: 450px;
    padding-top: 3rem;
}
.HeaderSocialIcons{
    width: 18%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
.HeaderSocialIcon{
    width: 20%;
    padding: 3px;
    border-radius: 30%;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    transition: 300ms;
    border: none;
    border: 1px solid rgb(179, 158, 121);
}
.HeaderSocialIcon:hover{
    box-shadow: navy 1px 1px 0.6px;
    border: 1.2px solid rgb(121, 106, 79);
}
.HeaderSocialIconFacebook{
    background-color: blue;
    color: white;
}
.HeaderSocialIconInstagram{
    background-image: linear-gradient(to left, rgb(255, 0, 170) , rgba(252, 252, 8, 0.884));
    color: white;
}
.HeaderSocialIconLinkedin{
    background-color: white;
    color: rgb(15, 131, 160);
}
.HeaderSocialIcon:focus{
    border: none;
    outline: none;
}
/* navbar */
nav{
    background-color:rgba(141, 140, 138, 0.336);
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.NavbarList{
    display: flex;
    list-style-type: none; 
    width: 54%;
}
.NavbarList .NavbarItem{
    padding-top: 0.8rem;
    width: 60%;
    text-align: center;
    letter-spacing: 1.2px;
}
.NavbarList .NavbarItem:first-child{
    width: 40%;
}
.NavbarList .NavbarItem .link{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    letter-spacing: 1.7px;
    font-weight: 700;
}
.NavbarList .NavbarItem:hover{
    background-color: rgba(128, 128, 128, 0.267);
    border-radius: 5px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.493);
}
.NavbarList .NavbarItem .link:hover{
    color: rgba(247, 240, 214, 0.712);
}
.NavbarList .NavbarItem .link:focus{
    color: rgb(65, 146, 119);
}
/* search input */
.SearchDiv{
    border-bottom: 1.5px solid black;
    padding: 0px 1.7rem;
    width: 25%;
    padding-top: 1rem;
}
.SearchInput{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.7rem;
    width: 85%;
    color: white;
    letter-spacing: 1px;
}
.SearchInput::placeholder{
    color: rgb(218, 214, 214);
}
.SearchInput:focus::placeholder{
    color: rgba(163, 152, 131, 0.486);
}
.SearchIcon{
    display: inline-block;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    margin-left: 1.5rem;
}

@media(max-width:700px){
    .HeaderSocialIcons{
        width: 40%;
    }
    .NavbarList{
        width: 100%;
        display: block;
    }
    .NavbarList .NavbarItem{
        width: 100%;
        margin-bottom: 1rem;
    }
    .NavbarList .NavbarItem:first-child{
        width: 100%;
    }
    .SearchDiv{
      width: 90%;    
      margin: auto;
      padding: 0px 1rem;
    }
}